header {
    background-color: darkblue;
    color: cyan;
    text-align: center;

}

p {
    background-color: lightgrey;
}

body {


    background-image: url("record.png");
    padding: 1em;
    margin: 0%;
}